<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/0b8daf5da8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>

        <div id="container">
                <div id="notch">
                    <i class="fa-solid fa-circle-notch"></i>
                </div>
                <h1 id="page-heading"> <i class="fa-regular fa-address-book"></i> My Contact List</h1>

                <div id="main-list">
                    <ul id="contacts">
                        <% for(let i of contact_list){ %>
                            <li>
                                <div id="contact-details">
                                    <div id="contact-image">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                    <div id="contact">
                                        <p> <%= i.name %> </p>
                                        <p> <%= i.phone %> </p>
                                    </div>
                                    <div id="delete-contact">
                                        <a href="/delete-contact/?id=<%= i._id %>">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>

                <form action="/create_contact" method="POST">

                    <input type="text" name="name" placeholder="Enter Name" required>

                    <input type="number" name="phone" placeholder="Enter Phone No." required>

                    <button type="submit">
                        Add Contact
                    </button>

                </form>
        </div>
        

        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>